@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
@keyframes fireworks {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #facc15; /* жовтий */
  border-radius: 50%;
  animation: fireworks 1s ease-out forwards;
}